@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

.carousel-container{
  position: relative;
}
.carousel-slide{
  display: none;
  min-height: 500px;
  background: #eee;
  text-align: center;
  line-height: 500px;
}

.carousel-slide:first-child{
  display: block;
}

.pagination{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bullet{
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #999;
  border-radius: 50%;
  margin-right: 5px;
}

.pagination .active{
  background: #000;
}

.carousel-btn-next,
.carousel-btn-prev{
  position: absolute;
  top: 50%;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  line-height: 30px;
  text-align: center;
}

.carousel-btn-next{
  right: 0;
}

.carousel-btn-prev{
  left: 0;
}
